<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Speech Recognition Usage Description</key>
	<string>Speech Recognition Usage Description</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech Recognition Usage Description</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone Usage Description</string>
</dict>
</plist>
